body{
    background-color: #e9e9e9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.topNav{
    /* Add a black background color to the top navigation */
    display: flex;
    position: sticky;
    background-color: whitesmoke;
    overflow: hidden;
    flex-direction: row ;
    align-items: baseline ;
    padding: 7px 19px;
    width: 500px;
    height: 60px;
    left: 70%;
    right: 29%;
    top: 23px;
    border: 1px solid #e7e7e7;

    
  }
  
  /* Style the links inside the navigation bar */
  .topNav a {
    float: right;
    color: #5b694e;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: sans-serif;
  }
  
  /* Change the color of links on hover */
  .topNav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topNav a.active {
    background-color: #ddd;
    color: darkslategrey;
  }

button {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items:baseline;
    padding: 8px 2px;
    background-color: rgb(255, 238, 0) ;
    border-style: double;
    appearance: auto;
    font-style: normal;
    box-sizing: border-box;
    height: 50px;
    width: 80px;
    margin-top: 0px;
    font-size: 14px ;
    

}

.heroSpace{
    display: flex;
    background-color: #e9e9e9;
    max-width: 90%;
    flex-direction: row;   
    width: 100%;
    height:650px;
    align-items:stretch;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    
}
.heroCopy{
    background-color: #e9e9e9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 150px;
    padding-right: 90px;
    
    padding-bottom: 50px;
    font-family: sans-serif;

}

.PhotoGallery{
  display: flex;
  flex-direction: row;
  padding-left: 15%;
}
.galleryImages{
display: flex;
flex-direction: row;
justify-content:space-evenly;
background-color: #e9e9e9;
border:ridge;
width: 99%;

}

.reviews{
  display: flex;
  flex-direction: row;
  padding-left: 15%;
  padding-top: 5%
  
}
/* why won't they space properly like in .gallery images?*/
.quotes{
  display: flex;
  flex-direction: row;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 5%;
  padding-bottom: 5%;
  justify-content:space-between space-around;
  
  background-color:#e9e9e9;
  border: ridge;
}

.footerLinks{
  background-color: darkgrey;
  font-family: sans-serif;
  font-size: medium;
  font-variant: small-caps;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5%;
  border: ridge;
  /*make linkedIn an icon?*/
  
}